.scrollor {
    padding: 1em 0;
    margin: 0;
    border: 0 solid #aaa;
    border-width: 0 2px;
    overflow: hidden;
}

.scrollor > li {
    display: block;
    width: calc(100% + 1em);
    height: 1em;
    padding: 0;
    margin: 0;
    whitespace: nowrap;
}

.scrollor > li > .block {
    box-sizing: border-box;
    display: inline-block;
    float: left;
    width: 1em;
    height: 1em;
}

.scrollor > li > .block:first-child {
    transition: margin-left .4s linear;
}
