html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.controls {
    position: fixed;
    top: 1em;
    left: calc(50% - 4em - 2px);
}

.controls > button {
    display: inline-block;
    vertical-align: middle;
    height: 4em;
    width: 4em;
    padding: 0px;
    text-align: center;
}

.stacked {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 1.1em;
}
